.profile-div {
  margin-top: 3rem;
  height: 100vh;
}
.left-div {
  padding: 3rem 2rem;
}
.edit-profile-main {
  padding: 0 8%;
}
.form-container {
  margin: 7% 0;
  padding: 3% 15%;
  background-color: white;
}
