.profile-div {
  margin-top: 5%;
  margin-bottom: 5%;  
}
.left-div {
  padding: 3% 2%;
}
.down-div{
  padding: 3% 2%;
}
.edit-profile-main {
  padding: 0 8%;
}
.form-container {
  margin: 7% 0;
  padding: 3% 15%;
  background-color: white;
}
.formData{
  white-space: nowrap;
  overflow: hidden;
  width: 10px;
  height: 25px;
}
.image-section{
  margin-top: 6%;
}
.id-proof{
  width: 40%;
  height: 60%;
  border-radius: 2%;
}
.edit-profile-btn{
  background-color: #00d2b5;
  margin: 3% 2%;
  color: white;
  width: 15%;
}
