.profile-div {
  margin-top: 5%;
  /* height: 100vh; */
}
.left-div {
  padding: 3% 2%;
}
.edit-profile-main {
  padding: 0 8%;
}
.form-container {
  margin: 7% 0;
  padding: 3% 15%;
  background-color: white;
}
.formData{
  white-space: nowrap;
  overflow: hidden;
  width: 10px;
  height: 25px;
}
.image-section{
  margin-top: 6%;
}
