.student-profile {
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  width: 70px;
  height: 70px;
  background-image: url(../../../Assets/Images/profile.svg);
}

.logo-header {
  cursor: pointer;
  font-size: 200%;
  font-weight: 300;
}

.logo-dot {
  font-size: 150%; 
  color: #00d2b5;
  font-weight: 600;
}
