.main-div{
    display: flex;
    justify-content: center;
    
}
.login{
    background-color: white;
    align-items: center;
    height: 30em;
    width: 40em;
    padding: 5em;
    margin-top: 5em;
}

.login-btn{
    background-color: #00D2B5;
    color: white;
    margin-top: 1em;
    width: 8em;
}

.login-btn:hover{
    color: white;
}