.sign {
  width: 100%;
  height: 100%;
}
.logo-signup {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
}
.build {
  font-size: 300%;
  font-weight: 700;
  margin-top: 30%;
}
.left {
  background-color: #00d2b5;
  height: 100vh;
  color: white;
}
.right {
  background-color: #f6f6f6;
  height: 100vh;
  padding: 5% 10%;
}
.student-signup {
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 8% 10%;
  margin-top: 5%;
  border-radius: 2%;
}
.student-login {
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 8% 12%;
  margin-top: 20%;
  border-radius: 2%;
}
.redirect{
  font-size: 80%;
}
.signup-link{
  color: #00d2b5;
  cursor: pointer;
  font-size: 80%;
}
.signup-header {
  font-weight: 700;
}
.btn-text {
  font-size: 120%;
  font-weight: 500;
}
.login-btn-student {
  background-color: #00d2b5;
  color: white;
  margin-top: 3%;
  width: 40%;
}

.login-btn-student {
  color: white;
}