.sign {
  width: 100%;
  height: 100%;
}
.left {
  background-color: #00d2b5;
  height: 100vh;
  color: white;
}
.logo-signup {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
.build {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 10rem;
}
.right {
  background-color: #f6f6f6;
  height: 100vh;
  padding: 2rem 5rem;
}
.student-signup {
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 2em 4em;
  margin-top: 4em;
  border-radius: 2%;
}
.student-login {
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 2em 4em;
  margin-top: 6em;
  border-radius: 2%;
}

.signup-header {
  font-weight: 700;
}
.btn-text {
  font-size: 1.5rem;
  font-weight: 500;
}
